body {
  height: 100vh;
  padding: 0;
  margin: 0;
  /* background: rgb(140, 248, 176); */
  justify-content: center;
  align-items: center;
  display: flex;
}

.header {
  display: -moz-inline-box;
  /* background: rgb(38, 103, 214); */
  height: 8%;
  /* border-bottom: 0.01cm solid black; */

  position: relative;
  font-size: 73px;
  font-weight: bolder;
  font-family: cursive;
  text-align: center;
}
.box {
  height: 60%;
  width: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 3em;
  font-size: 45px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.box > * {
  margin-bottom: 3rem;
}
.box > button {
  border-radius: 0.2cm;
  padding: 1.5rem;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 2rem;
  background-color: rgb(74, 247, 68);
}
.box>button: hover {
  background-color: rgb(38, 103, 256);
}
.hide {
  display: none;
}
